@import "../variables/colors.css";

.light-theme {
  --primary-gradient-background-color: var(--light-gradient);

  --primary-background   : var(--neutral-0);
  --secondary-background : var(--neutral-100);
  --tertiary-background  : var(--neutral-300);
  --quaternary-background: var(--neutral-0);

  --border-color : var(--neutral-300);

  --red-color-light: var(--red-400);
  --red-color-medium: var(--red-500);
  --red-color-strong: var(--red-700);

  --text-primary  : var(--neutral-900);
  --text-secondary: var(--neutral-100); 
  --text-tertiary : var(--neutral-600);
}
